@font-face {
  font-family: "iconfont"; /* Project id 4428761 */
  src: url('iconfont.woff2?t=1706702140873') format('woff2'),
       url('iconfont.woff?t=1706702140873') format('woff'),
       url('iconfont.ttf?t=1706702140873') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuben-line:before {
  content: "\e605";
}

.icon-shuji-line:before {
  content: "\e606";
}

.icon-shuidi-line:before {
  content: "\e607";
}

.icon-more-ver-line:before {
  content: "\e608";
}

.icon-shuidi-fill:before {
  content: "\e609";
}

.icon-more-hor-line:before {
  content: "\e60a";
}

.icon-jishiqi-line:before {
  content: "\e600";
}

.icon-xingxing-line:before {
  content: "\e601";
}

.icon-xingxing-fill:before {
  content: "\e602";
}

.icon-shuji-fill:before {
  content: "\e603";
}

.icon-sousuo-line:before {
  content: "\e604";
}

