@font-face {
  font-family: "iconfont"; /* Project id 4428761 */
  src: url('iconfont.woff2?t=1707812088057') format('woff2'),
       url('iconfont.woff?t=1707812088057') format('woff'),
       url('iconfont.ttf?t=1707812088057') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ERP_daiban:before {
  content: "\e657";
}

.icon-daiban1:before {
  content: "\e609";
}

.icon-daiban:before {
  content: "\e66e";
}

.icon-shuliang:before {
  content: "\e607";
}

.icon-shuliang1:before {
  content: "\e61d";
}

.icon-qingdan:before {
  content: "\e615";
}

.icon-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-shuidi:before {
  content: "\e61c";
}

.icon-more-ver-line:before {
  content: "\e608";
}

.icon-more-hor-line:before {
  content: "\e60a";
}

.icon-xingxing-line:before {
  content: "\e601";
}

.icon-xingxing-fill:before {
  content: "\e602";
}

.icon-sousuo-line:before {
  content: "\e604";
}

