@font-face {
  font-family: "iconfont"; /* Project id 4428761 */
  src: url('iconfont.woff2?t=1708596419689') format('woff2'),
       url('iconfont.woff?t=1708596419689') format('woff'),
       url('iconfont.ttf?t=1708596419689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info-circle-fill:before {
  content: "\e7dc";
}

.icon-exclamation-circle:before {
  content: "\e820";
}

.icon-cog-fill:before {
  content: "\e7d6";
}

.icon-cog:before {
  content: "\e818";
}

.icon-ellipsis-vertical:before {
  content: "\e76a";
}

.icon-filter-fill:before {
  content: "\e7a3";
}

.icon-filter:before {
  content: "\e7e5";
}

.icon-flag-fill:before {
  content: "\e7ad";
}

.icon-databaseset-fill:before {
  content: "\e7b4";
}

.icon-layergroup-fill:before {
  content: "\e7b5";
}

.icon-file-fill:before {
  content: "\e7c7";
}

.icon-flag:before {
  content: "\e7ef";
}

.icon-database-set:before {
  content: "\e7f6";
}

.icon-layer-group:before {
  content: "\e7f7";
}

.icon-file:before {
  content: "\e809";
}

.icon-question-circle:before {
  content: "\e81f";
}

.icon-minus:before {
  content: "\e828";
}

.icon-plus:before {
  content: "\e829";
}

.icon-paperclip:before {
  content: "\e850";
}

.icon-chart-area:before {
  content: "\e78f";
}

.icon-chart-line:before {
  content: "\e790";
}

.icon-alignright-fill:before {
  content: "\e7ba";
}

.icon-alignleft-fill:before {
  content: "\e7bb";
}

.icon-address-book-fill:before {
  content: "\e84a";
}

.icon-address-book:before {
  content: "\e84b";
}

.icon-daiban1:before {
  content: "\e609";
}

.icon-shuliang:before {
  content: "\e607";
}

.icon-qingdan:before {
  content: "\e615";
}

.icon-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-shuidi:before {
  content: "\e61c";
}

.icon-more-ver-line:before {
  content: "\e608";
}

.icon-more-hor-line:before {
  content: "\e60a";
}

.icon-xingxing-line:before {
  content: "\e601";
}

.icon-xingxing-fill:before {
  content: "\e602";
}

.icon-sousuo-line:before {
  content: "\e604";
}

