/* @tailwind base; */

.\!visible {
  visibility: visible !important
}

.visible {
  visibility: visible
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.m-46 {
  margin: 46px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-10 {
  margin-bottom: 10px
}

.mb-12 {
  margin-bottom: 12px
}

.mb-20 {
  margin-bottom: 20px
}

.mb-4 {
  margin-bottom: 4px
}

.mb-5 {
  margin-bottom: 5px
}

.mb-6 {
  margin-bottom: 6px
}

.mb-8 {
  margin-bottom: 8px
}

.ml-10 {
  margin-left: 10px
}

.ml-24 {
  margin-left: 24px
}

.ml-3 {
  margin-left: 3px
}

.ml-30 {
  margin-left: 30px
}

.ml-auto {
  margin-left: auto
}

.mr-4 {
  margin-right: 4px
}

.mt-10 {
  margin-top: 10px
}

.mt-20 {
  margin-top: 20px
}

.mt-30 {
  margin-top: 30px
}

.mt-5 {
  margin-top: 5px
}

.mt-auto {
  margin-top: auto
}

.block {
  display: block
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.size-22 {
  width: 22px;
  height: 22px
}

.h-160 {
  height: 160px
}

.h-300 {
  height: 300px
}

.h-36 {
  height: 36px
}

.h-44 {
  height: 44px
}

.h-60 {
  height: 60px
}

.h-screen {
  height: 100vh
}

.h-full {
  height: 100%
}

.min-h-140 {
  min-height: 140px
}

.w-0 {
  width: 0px
}

.w-220 {
  width: 220px
}

.w-260 {
  width: 260px
}

.w-270 {
  width: 270px
}

.w-286 {
  width: 286px
}

.w-full {
  width: 100%
}

.max-w-190 {
  max-width: 190px
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink-0 {
  flex-shrink: 0
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.rounded {
  border-radius: 0.25rem
}

.rounded-none {
  border-radius: 0px
}

.rounded-radius-4 {
  border-radius: 4px
}

.border-b {
  border-bottom-width: 1px
}

.border-l {
  border-left-width: 1px
}

.border-r {
  border-right-width: 1px
}

.border-none {
  border-style: none
}

.border-black-5 {
  border-color: rgba(31,51,73,0.05)
}

.bg-eb-blue {
  background-color: rgba(246, 248, 250, 1)
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-15 {
  padding: 15px
}

.p-6 {
  padding: 6px
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px
}

.pb-30 {
  padding-bottom: 30px
}

.pb-7 {
  padding-bottom: 7px
}

.pl-15 {
  padding-left: 15px
}

.pl-20 {
  padding-left: 20px
}

.pr-15 {
  padding-right: 15px
}

.pt-10 {
  padding-top: 10px
}

.pt-30 {
  padding-top: 30px
}

.pt-40 {
  padding-top: 40px
}

.text-right {
  text-align: right
}

.text-size-12 {
  font-size: 12px
}

.text-size-14 {
  font-size: 14px
}

.text-size-16 {
  font-size: 16px
}

.text-size-20 {
  font-size: 20px
}

.text-size-24 {
  font-size: 24px
}

.text-size-26 {
  font-size: 26px
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.leading-none {
  line-height: 1
}

.leading-normal {
  line-height: 1.5
}

.tracking-letter-spacing-1 {
  letter-spacing: 1px
}

.text-black {
  color: rgba(31,51,73,1)
}

.text-black-45 {
  color: rgba(31,51,73,0.45)
}

.text-black-65 {
  color: rgba(31,51,73,0.65)
}

.text-red {
  color: rgba(227, 23, 0, 1)
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}