@eb-color-black: #1f3349;
@eb-color-black-85: rgba(31, 51, 73, 0.85);
@eb-color-black-65: rgba(31, 51, 73, 0.65);
@eb-color-black-45: rgba(31, 51, 73, 0.45);
@eb-color-blue: #198cff;
@eb-color-red: #d92d19;
@eb-color-green: #12be30;
@eb-color-purple: #7a1eec;
@eb-color-gold: #eacd76;
@eb-color-orange: #fa9a25;

:root {
  // 基础
  --eb-color-black: @eb-color-black;
  --eb-color-black-85: @eb-color-black-85;
  --eb-color-black-65: @eb-color-black-65;
  --eb-color-black-45: @eb-color-black-45;
  --eb-color-blue: @eb-color-blue;
  --eb-color-red: @eb-color-red;
  --eb-color-green: @eb-color-green;
  --eb-color-purple: @eb-color-purple;
  --eb-color-gold: @eb-color-gold;
}
